a {
	text-decoration: none;
	color:#6ab47b;
}

ul,ol {
	list-style: none;
}

body {
	font-family: 'Trebuchet MS', sans-serif;
	background-color: #fff;
	color: #999;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	background-color: lightblue;
}

#logo {
	text-align:center;
	margin: 0;
}

nav {
	text-align: center;
	background: #599a68;
}

nav a, nav a:visited {
	color:#fff;
}

nav a.selected, nav a:hover {
	color: #32673f;
}

header {
	background: #6ab47b;
	border-color: #599a68;
	border-width: 5px;
	border-radius: 15px;
}

h1,h2 {
	color: #fff;
}



